<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
</head>
<body>
    <a href="{% url 'crud_create' %}">Criar novo livro</a>
    <ul>
        {% for i in listas %}
        <li>
            {{i}}
            <a href="{% url 'crud_update' i.pk %}">Atualizar</a>
            <a href="{% url 'crud_delete' i.pk %}">Deletar</a>
            <a href="{% url 'buscar_livros'%}">Buscar</a>
        </li>

        {% endfor %}
    </ul>

    
</body>
</html>